

h1 {
    text-align: center;
    color:black;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 500px;
}
*{
    margin: 0;
    padding: 0;
}
body{
   background-image:url('kk.jpg');
   background-repeat: no-repeat;
   background-size: 100% 210%;
}
.container {
   
    justify-content: center;
        width: 65%;
       

          
    }
    form {
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    }
    .submit-btn {
        background-color:white;
        color: black;
        padding: 1%;
        font-size: 22px;
        margin-top: 8px;
        border: 0;
        cursor: pointer;
        margin-left: 700px;
    }
    input {
        padding: 2%;
        box-decoration-break: slice;
       align-content: center;
       margin-left: 550px;
       
    }
    ::-webkit-input-placeholder {
        color:black;
        }
